.card {
    background-color: #fdfdfd;
    min-width: 250px;
    margin: 0 10px;
    padding: 5px;
    box-shadow: 3px 6px 18px #c78a0029;
    border-radius: 20px;
    color: #e6c986;
    span {
        margin: 0 5px;
    }
}
.sponsors {
    margin: 0 20px;
}
svg {
    color: #e6c986;
}
.MuiAvatar-root {
    width: 30px;
    height: 30px;
    display: flex;
    overflow: hidden;
    // position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    margin: 20px;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}
