button {
    border: 0;
    background-color: #e6c986;
    color: rgba(0, 0, 0, 0.87);
    padding: 5px 10px;
    margin-top: 15px;
    margin: 0 20px;
    width: 95%;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    // max-width: 80px;
    &:hover {
        background-color: #661616;
        color: rgb(248, 241, 241);
    }
}
.triger {
    color: #e6c986;
    background-color: white;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #e6c986;
}

form > * {
    display: block;
    // width: 200px;

    font-size: 16px;
}

textarea {
    width: 80%;
    height: 80%;
    text-align: center;
    // background-color: antiquewhite;
}

* :focus {
    border-color: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
